In [13]:
import numpy as np 
import matplotlib.pyplot as plt
# for labeling data in graph
import pandas as pd 
# used to import files
from sklearn.linear_model import LinearRegression
#to import formulas
from sklearn.model_selection import train_test_split

In [37]:

# Load the CSV file
file =pd.read_csv('NIFTY 50-03-03-2024-to-03-03-2025.csv')
file.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,04-MAR-2024,22403.50,22440.90,22358.30,22405.60,298794435.0,23771.71
1,05-MAR-2024,22371.25,22416.90,22269.15,22356.30,296153036.0,29165.37
2,06-MAR-2024,22327.50,22497.20,22224.35,22474.05,312262560.0,31029.01
3,07-MAR-2024,22505.30,22525.65,22430.00,22493.55,379865142.0,33558.46
4,11-MAR-2024,22517.50,22526.60,22307.25,22332.65,277897373.0,27222.37

In [49]:
x =file.iloc[:,:-1]
y = file.iloc[:,:-1]